<html xmlns="http://www.w3.org/1999/xhtml"><head xmlns="http://www.w3.org/1999/xhtml">
		<title>Document</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
		<style type="text/css">
 p.hiddenParagraph { visibility:hidden } 
 p { margin-top:0; margin-bottom:0; font-family:Times New Roman; color:WindowText; font-size:10pt; font-size:10pt; } 
 p { font-family:Times New Roman; font-size:12pt; }  p.style_Normal { font-size:12pt; } 
.style_Normal span { } 
 p.style_Heading2 { margin-top:16px; margin-bottom:4px; font-size:14pt; font-weight:bold; font-style:italic; font-family:Arial; } 
.style_Heading2 span { font-weight:bold; font-style:italic; font-family:Arial; } 
 span.style_NormalCharacter { } 
 table.style_TableNormal { } 
 p.style_HtmlNormal { margin-top:6.667px; margin-bottom:6.667px; font-family:Calibri; } 
.style_HtmlNormal span { font-family:Calibri; } 
 p.style_PlainText { font-size:10pt; font-family:Courier New; } 
.style_PlainText span { font-family:Courier New; } 
 span.style_StGen2 { font-family:Courier New; } 
.style_StGen2 span { font-family:Courier New; } 
 p.style_179 { margin-top:0px; margin-bottom:13.333px; line-height:1.15; margin-left:48px; font-size:11pt; font-family:Calibri; } 
.style_179 span { font-family:Calibri; } 
 span.style_StGen0 { font-size:14pt; font-weight:bold; font-style:italic; font-family:Arial; } 
.style_StGen0 span { font-weight:bold; font-style:italic; font-family:Arial; } 
 span.X3AS7TOCHyperlink { color:#000000; text-decoration:none; } 
 p.X3AS7TABSTYLE { } 
 span.BulletSymbol { font-family:'Symbol'; } 
 body { margin-left:113.4px;margin-top:47.267px;margin-bottom:66.2px;margin-right:56.667px;} 
div.basic { width:16.501cm;height:26.698cm;} 
 p.hiddenParagraph { font-size:2pt; visibility:hidden; } 
</style>
		<script type="text/javascript">
							var useragent = navigator.userAgent;
							var navigatorname;
							if (useragent.indexOf('MSIE')!= -1)
							{
							navigatorname="MSIE";
							}
							else if (useragent.indexOf('Gecko')!= -1)
							{
							if (useragent.indexOf('Chrome')!= -1)
							navigatorname="Google Chrome";
							else
							navigatorname="Mozilla";
							}
							else if (useragent.indexOf('Mozilla')!= -1)
							{
							navigatorname="old Netscape or Mozilla";
							}
							else if (useragent.indexOf('Opera')!= -1)
							{
							navigatorname="Opera";
							}
							
							function symbol(code1,code2)
							{
							if (navigatorname == 'MSIE')
								document.write(code1);
							else
								document.write(code2);
							}
							</script>
	</head>
	<body xmlns="http://www.w3.org/1999/xhtml"><div class="basic"><div>
				<p class="style_Normal style_Normal style_HtmlNormal style_HtmlNormal " style="line-height:1.5; text-align:center; "><span style="font-weight:bold; font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-family:Times New Roman; font-weight:bold; ">Лабораторная работа №<span>
						</span></span><span style="font-weight:bold; font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-family:Times New Roman; font-weight:bold; ">5</span><span style="font-weight:bold; font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-family:Times New Roman; font-weight:bold; "></span></p>
			</div>
			<div>
				<p class="style_Normal style_Normal " style="text-align:center; "><span style="font-weight:bold; font-family:Times New Roman; font-size:12pt; font-weight:bold; ">Разработка программ с применением одномерных массивов</span></p>
			</div>
			<div>
				<p class="style_Normal style_Normal " style="text-align:center; "> </p>
			</div>
			<div>
				<p class="style_Normal style_Normal style_PlainText style_PlainText " style="line-height:1.5; text-align:center; "><span style="font-size:12pt; font-weight:bold; font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Courier New; font-size:10pt; font-family:Times New Roman; font-size:12pt; font-weight:bold; ">Цель работы:</span><span style="font-size:12pt; font-weight:bold; font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Courier New; font-size:10pt; font-family:Times New Roman; font-size:12pt; font-weight:bold; "><span><span></span>
						</span></span><span style="font-size:12pt; font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Courier New; font-size:10pt; font-family:Times New Roman; font-size:12pt; ">П</span><span style="font-size:12pt; font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Courier New; font-size:10pt; font-family:Times New Roman; font-size:12pt; ">олучение навыков работы по созданию программ с использованием<span>
						</span></span><span style="font-size:12pt; font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Courier New; font-size:10pt; font-family:Times New Roman; font-size:12pt; ">массивов</span><span style="font-size:12pt; font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Courier New; font-size:10pt; font-family:Times New Roman; font-size:12pt; ">.</span><span style="font-size:12pt; font-weight:bold; font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Courier New; font-size:10pt; font-family:Times New Roman; font-size:12pt; font-weight:bold; "></span></p>
			</div>
			<div>
				<p class="style_Normal style_Normal "><span style="font-weight:bold; font-family:Times New Roman; font-size:12pt; font-weight:bold; ">Материальное обеспечение:<span>
						</span></span><span style="font-weight:bold; font-family:Times New Roman; font-size:12pt; font-weight:bold; "><span><span></span>
						</span></span><span style="font-family:Times New Roman; font-size:12pt; ">Компьютерное</span><span><span></span>
					</span>оборудование<span style="font-family:Times New Roman; font-size:12pt; "><span><span></span>
						</span>и программное обеспечение.</span><span style="font-weight:bold; font-family:Times New Roman; font-size:12pt; font-weight:bold; "></span></p>
			</div>
			<div>
				<p class="style_Normal style_Normal style_Heading2 style_Heading2 " style="text-align:center; "><span style="font-size:12pt; font-style:normal; font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Arial; font-size:14pt; font-weight:bold; font-style:italic; font-family:Times New Roman; font-size:12pt; font-style:normal; ">Основные понятия и определения</span></p>
			</div>
			<div>
				<p class="style_Normal style_Normal " style="margin-top:6.667px; margin-bottom:6.667px; line-height:1.5; text-align:justify; text-indent:1.249cm; "><span style="font-weight:bold; font-family:Times New Roman; font-size:12pt; font-weight:bold; ">Массив –</span><span><span></span>
					</span>это специальная структура данных, позволяющая хранить несколько значений одного и того же типа. Для объявления массива необходимо указать имя, тип значений, хранящихся в массиве, а также количество значений (называемых<span>
					</span><span style="font-weight:bold; font-family:Times New Roman; font-size:12pt; font-weight:bold; ">элементами массива</span><span style="font-style:italic; font-family:Times New Roman; font-size:12pt; font-style:italic; ">).</span> Структура массива имеет следующий вид:<span>
					</span></p>
			</div>
			<div>
				<p class="style_Normal style_Normal " style="margin-top:6.667px; margin-bottom:6.667px; line-height:1.5; text-align:justify; "><span style="font-weight:bold; font-family:Times New Roman; font-size:12pt; font-weight:bold; ">тип имя переменной [</span><span style="font-weight:bold; font-family:Times New Roman; font-size:12pt; font-weight:bold; ">n</span><span style="font-weight:bold; font-family:Times New Roman; font-size:12pt; font-weight:bold; ">],</span><span><span></span>
					</span>где<span>
					</span><span style="font-family:Times New Roman; font-size:12pt; ">n</span> - количество элементов в массиве.<span>
					</span></p>
			</div>
			<div>
				<p class="style_Normal style_Normal " style="margin-top:6.667px; margin-bottom:6.667px; line-height:1.5; text-align:justify; ">
					<span style="mso-tab-count:1">  </span>Чтобы обратиться к значению, хранящемуся внутри массива, необходимо указать имя массива и номер элемента. Элементы массива автоматически нумеруются, причем нумерация всегда начинается с нуля. Таким образом, элементы в массиве нумеруются от 0 до<span>
					</span><span style="font-family:Times New Roman; font-size:12pt; ">n</span>-1.<span>
					</span>Число, определяющее, сколько элементов может быть в массиве, называется<span>
					</span><span style="font-weight:bold; font-family:Times New Roman; font-size:12pt; font-weight:bold; ">размерностью</span>. Массивы, как и переменные, должны быть объявлены перед использованием. Массивы могут быть двух типов: одномерные, многомерные.<span><span></span>
					</span>Для представления строк в программах на языке С++ используют массивы переменных типа<span>
					</span><span style="font-family:Times New Roman; font-size:12pt; ">char</span>. Для работы со строками имеются множество стандартных функций, которые определены в заголовочном файле <span style="font-family:Times New Roman; font-size:12pt; ">string</span>.<span style="font-family:Times New Roman; font-size:12pt; ">h</span></p>
			</div>
			<div>
				<p class="style_Normal style_Normal " style="margin-top:6.667px; margin-bottom:6.667px; text-align:center; "><span style="font-weight:bold; font-family:Times New Roman; font-size:12pt; font-weight:bold; ">Объявление переменной массива.</span></p>
			</div>
			<div>
				<p class="style_Normal style_Normal " style="margin-top:6.667px; margin-bottom:6.667px; line-height:1.5; text-align:justify; "><span style="font-family:Times New Roman; font-size:12pt; "><span style="mso-tab-count:1">  </span></span>При объявлении массива программы могут использовать оператор присваивания для инициализации элементов массива. Подобно переменным, массив должен иметь тип и уникальное имя, а также необходимо указать количество значений, которые массив будет хранить. Все сохраняемые в массиве значения должны быть одного и того же типа. Другими словами,<span>
					</span><span><span></span>
					</span>программа не может поместить значения<span>
					</span><span><span></span>
					</span><span style="font-style:italic; font-family:Times New Roman; font-size:12pt; font-style:italic; ">типа</span><span style="font-style:italic; font-family:Times New Roman; font-size:12pt; font-style:italic; "><span><span></span>
						</span></span><span style="font-style:italic; font-family:Times New Roman; font-size:12pt; font-style:italic; "><span><span></span>
						</span>float, char и long<span>
						</span></span><span style="font-style:italic; font-family:Times New Roman; font-size:12pt; font-style:italic; ">
					</span><span style="font-style:italic; font-family:Times New Roman; font-size:12pt; font-style:italic; ">в</span><span><span></span>
					</span>один и тот же массив.<span style="font-style:italic; font-family:Times New Roman; font-size:12pt; font-style:italic; "></span></p>
			</div>
			<div>
				<p class="style_Normal style_Normal " style="margin-top:6.667px; margin-bottom:6.667px; text-align:center; "><span style="font-weight:bold; font-family:Times New Roman; font-size:12pt; font-weight:bold; ">Обращение к элементам массива</span></p>
			</div>
			<div>
				<p class="style_Normal style_Normal " style="margin-top:6.667px; margin-bottom:6.667px; line-height:1.5; ">
					<span style="mso-tab-count:1">  </span>Для обращения к определенным значениям, хранящимся в массиве, необходимо использовать<span>
					</span><span style="font-weight:bold; font-family:Times New Roman; font-size:12pt; font-weight:bold; ">значение индекса</span><span style="font-style:italic; font-family:Times New Roman; font-size:12pt; font-style:italic; ">,</span><span><span></span>
					</span>которое указывает на требуемый элемент.</p>
			</div>
			<div>
				<p class="style_Normal style_Normal " style="margin-top:6.667px; margin-bottom:6.667px; line-height:1.5; ">Например, для обращения к первому элементу массива<span>
					</span>вам необходимо<span>
					</span><span><span></span>
					</span>использовать значение индекса 0. Для обращения ко второму элементу используйте индекс 1 т.е индекс последнего элемента на единицу меньше размера массива.</p>
			</div>
			<div>
				<p class="style_Normal style_Normal " style="line-height:1.5; text-align:center; "><span style="font-weight:bold; font-family:Times New Roman; font-size:12pt; font-weight:bold; ">Этапы выполнения программы включают следующие пункты.</span></p>
			</div>
			<p class="style_Normal style_Normal style_HtmlNormal style_HtmlNormal " style="margin-left:48px; text-indent:-.635cm; line-height:1.5; margin-left:48px; text-indent:-.635cm; line-height:1.5; ">
				<span style="font-family:Times New Roman; color:#000000; padding-right:20px;">1.</span><span style="text-decoration:underline ;font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-family:Times New Roman; text-decoration:underline ;">Определяете, с какими именно библиотеками (заголовочными файлами) вы будете работать</span><span style="font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-family:Times New Roman; ">. В данном случае с библиотекой &lt;</span><span style="font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-family:Times New Roman; ">iostream</span><span style="font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-family:Times New Roman; ">&gt;. Данная библиотека обеспечивает работу потока<span>
					</span></span><span style="font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-family:Times New Roman; ">cout</span><span style="font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-family:Times New Roman; ">.<span>
					</span></span><span style="font-family:Times New Roman; color:#000000; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-family:Times New Roman; "></span></p>
			<p class="style_Normal style_Normal style_179 style_179 " style="margin-left:48px; text-indent:-.635cm; line-height:1.5; margin-left:48px; text-indent:-.635cm; line-height:1.5; ">
				<span style="font-size:12pt; font-family:Times New Roman; padding-right:20px;">2.</span><span style="font-size:12pt; text-decoration:underline ;font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-size:11pt; font-family:Times New Roman; font-size:12pt; text-decoration:underline ;">Написание главной<span>
					</span></span><span style="font-size:12pt; text-decoration:underline ;font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-size:11pt; font-family:Times New Roman; font-size:12pt; text-decoration:underline ;"><span><span></span>
					</span>функции</span><span style="font-size:12pt; text-decoration:underline ;font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-size:11pt; font-family:Times New Roman; font-size:12pt; text-decoration:underline ;"><span><span></span>
					</span>программы</span><span style="font-size:12pt; font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-size:11pt; font-family:Times New Roman; font-size:12pt; ">.<span>
					</span></span><span style="font-size:12pt; font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-size:11pt; font-family:Times New Roman; font-size:12pt; ">Функция<span>
					</span></span><span style="font-size:12pt; font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-size:11pt; font-family:Times New Roman; font-size:12pt; ">main</span><span style="font-size:12pt; font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-size:11pt; font-family:Times New Roman; font-size:12pt; "><span><span></span>
					</span>- главная функция программы.<span>
					</span></span><span style="font-size:12pt; font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-size:11pt; font-family:Times New Roman; font-size:12pt; "></span></p>
			<p class="style_Normal style_Normal style_179 style_179 " style="margin-left:48px; text-indent:-.635cm; line-height:1.5; margin-left:48px; text-indent:-.635cm; line-height:1.5; ">
				<span style="font-size:12pt; font-family:Times New Roman; padding-right:20px;">3.</span><span style="font-size:12pt; text-decoration:underline ;font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-size:11pt; font-family:Times New Roman; font-size:12pt; text-decoration:underline ;">Начало тела функции</span><span style="font-size:12pt; font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-size:11pt; font-family:Times New Roman; font-size:12pt; ">. Открывается фигурная скобка.</span><span style="font-size:12pt; font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-size:11pt; font-family:Times New Roman; font-size:12pt; "></span></p>
			<p class="style_Normal style_Normal style_179 style_179 " style="margin-left:48px; text-indent:-.635cm; line-height:1.5; margin-left:48px; text-indent:-.635cm; line-height:1.5; ">
				<span style="font-size:12pt; font-family:Times New Roman; padding-right:20px;">4.</span><span style="font-size:12pt; text-decoration:underline ;font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-size:11pt; font-family:Times New Roman; font-size:12pt; text-decoration:underline ;">Объявление массива и</span><span style="font-size:12pt; text-decoration:underline ;font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-size:11pt; font-family:Times New Roman; font-size:12pt; text-decoration:underline ;"><span><span></span>
					</span>переменных</span><span style="font-size:12pt; text-decoration:underline ;font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-size:11pt; font-family:Times New Roman; font-size:12pt; text-decoration:underline ;">, которые будут использоваться в данной программе</span><span style="font-size:12pt; text-decoration:underline ;font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-size:11pt; font-family:Times New Roman; font-size:12pt; text-decoration:underline ;">.</span><span style="font-size:12pt; text-decoration:underline ;font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-size:11pt; font-family:Times New Roman; font-size:12pt; text-decoration:underline ;"><span><span></span>
					</span></span><span style="font-size:12pt; font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-size:11pt; font-family:Times New Roman; font-size:12pt; ">
				</span><span style="font-size:12pt; font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-size:11pt; font-family:Times New Roman; font-size:12pt; "></span></p>
			<p class="style_Normal style_Normal style_179 style_179 " style="margin-left:48px; text-indent:-.635cm; line-height:1.5; margin-left:48px; text-indent:-.635cm; line-height:1.5; ">
				<span style="font-size:12pt; font-family:Times New Roman; padding-right:20px;">5.</span><span style="font-size:12pt; text-decoration:underline ;font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-size:11pt; font-family:Times New Roman; font-size:12pt; text-decoration:underline ;">Написание операторов программы и выражений.<span>
					</span></span><span style="font-size:12pt; font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-size:11pt; font-family:Times New Roman; font-size:12pt; "> В данном случае<span>
					</span></span><span style="font-size:12pt; font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-size:11pt; font-family:Times New Roman; font-size:12pt; ">используем оператор<span>
					</span></span><span style="font-size:12pt; font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-size:11pt; font-family:Times New Roman; font-size:12pt; ">cout</span><span style="font-size:12pt; font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-size:11pt; font-family:Times New Roman; font-size:12pt; ">, чтобы вывести сообщение на экран.</span><span style="font-size:12pt; font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-size:11pt; font-family:Times New Roman; font-size:12pt; "><span><span></span>
					</span></span><span style="font-size:12pt; font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-size:11pt; font-family:Times New Roman; font-size:12pt; ">Оператор<span>
					</span></span><span style="font-size:12pt; font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-size:11pt; font-family:Times New Roman; font-size:12pt; ">cin</span><span style="font-size:12pt; font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-size:11pt; font-family:Times New Roman; font-size:12pt; ">, чтобы осуществить ввод данных с клавиатуры.</span><span style="font-size:12pt; font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-size:11pt; font-family:Times New Roman; font-size:12pt; "></span></p>
			<p class="style_Normal style_Normal style_179 style_179 " style="margin-left:48px; text-indent:-.635cm; line-height:1.5; margin-left:48px; text-indent:-.635cm; line-height:1.5; ">
				<span style="font-size:12pt; font-family:Times New Roman; padding-right:20px;">6.</span><span style="font-size:12pt; text-decoration:underline ;font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-size:11pt; font-family:Times New Roman; font-size:12pt; text-decoration:underline ;">Конец функции.</span><span style="font-size:12pt; font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-size:11pt; font-family:Times New Roman; font-size:12pt; "><span><span></span>
					</span>Закрывается фигурная скобка.</span><span style="font-size:12pt; font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-size:11pt; font-family:Times New Roman; font-size:12pt; "></span></p>
			<div>
				<p class="style_Normal style_Normal "><span style="font-weight:bold; font-family:Times New Roman; font-size:12pt; font-weight:bold; ">Методический пример</span><span style="font-weight:bold; font-family:Times New Roman; font-size:12pt; font-weight:bold; ">:<span>
						</span></span></p>
			</div>
			<div>
				<p class="style_Normal style_Normal ">Написать программу, которая определяет, сколько символов в вашем имени.</p>
			</div>
			<div>
				<p class="style_Normal style_Normal ">
					<img alt="image" style="width:464px; height:202px; left:0; z-index:0; " src="labs_5_files/image1.png"></img> </p>
			</div>
			<div>
				<p class="style_Normal style_Normal "><span style="font-weight:bold; font-family:Times New Roman; font-size:12pt; font-weight:bold; ">Результат программы:<span>
						</span></span></p>
			</div>
			<div>
				<p class="style_Normal style_Normal ">Введите имя:</p>
			</div>
			<div>
				<p class="style_Normal style_Normal ">Айнура</p>
			</div>
			<div>
				<p class="style_Normal style_Normal ">Ваше имя состоит из<span>
					</span>6<span><span></span>
					</span>символов</p>
			</div>
			<div>
				<p class="style_Normal style_Normal "><span style="font-weight:bold; font-family:Times New Roman; font-size:12pt; font-weight:bold; "></span> </p>
			</div>
			<div>
				<p class="style_Normal style_Normal " style="line-height:1.5; text-indent:1.249cm; "><span style="font-weight:bold; font-family:Times New Roman; font-size:12pt; font-weight:bold; ">Варианты заданий:<span>
						</span></span></p>
			</div>
			<p class="style_Normal style_Normal " style="margin-left:71.2px; text-indent:-.635cm; line-height:1.5; margin-left:71.2px; text-indent:-.635cm; line-height:1.5; ">
				<span style="padding-right:20px;">1.</span>Написать программу, которая<span>
				</span>определяет,<span><span></span>
				</span>сколько символов<span>
				</span>в названии города.</p>
			<p class="style_Normal style_Normal " style="margin-left:71.2px; text-indent:-.635cm; line-height:1.5; margin-left:71.2px; text-indent:-.635cm; line-height:1.5; ">
				<span style="padding-right:20px;">2.</span>Написать программу, которая определяет, сколько символов в вашей фамилии.</p>
			<p class="style_Normal style_Normal " style="margin-left:71.2px; text-indent:-.635cm; line-height:1.5; margin-left:71.2px; text-indent:-.635cm; line-height:1.5; ">
				<span style="padding-right:20px;">3.</span>Написать программу, которая определяет, сколько символов в вашем отчестве.</p>
			<p class="style_Normal style_Normal " style="margin-left:71.2px; text-indent:-.635cm; line-height:1.5; margin-left:71.2px; text-indent:-.635cm; line-height:1.5; ">
				<span style="padding-right:20px;">4.</span>Написать программу, которая определяет, сколько символов в названии улицы.</p>
			<p class="style_Normal style_Normal " style="margin-left:71.2px; text-indent:-.635cm; line-height:1.5; margin-left:71.2px; text-indent:-.635cm; line-height:1.5; ">
				<span style="padding-right:20px;">5.</span>Написать программу, которая определяет, сколько символов в названии страны.</p>
			<p class="style_Normal style_Normal " style="margin-left:71.2px; text-indent:-.635cm; line-height:1.5; margin-left:71.2px; text-indent:-.635cm; line-height:1.5; ">
				<span style="padding-right:20px;">6.</span>Написать программу, которая определяет, сколько символов в названии<span>
				</span>дня недели.</p>
			<p class="style_Normal style_Normal " style="margin-left:71.2px; text-indent:-.635cm; line-height:1.5; margin-left:71.2px; text-indent:-.635cm; line-height:1.5; ">
				<span style="padding-right:20px;">7.</span>Написать программу, которая определяет, сколько символов в названии месяца.</p>
			<p class="style_Normal style_Normal " style="margin-left:71.2px; text-indent:-.635cm; line-height:1.5; margin-left:71.2px; text-indent:-.635cm; line-height:1.5; ">
				<span style="padding-right:20px;">8.</span>Написать программу, которая определяет, сколько символов в названии вашей специальности.</p>
			<p class="style_Normal style_Normal " style="margin-left:71.2px; text-indent:-.635cm; line-height:1.5; margin-left:71.2px; text-indent:-.635cm; line-height:1.5; ">
				<span style="padding-right:20px;">9.</span>Написать программу, которая определяет, сколько символов в названии книги.</p>
			<p class="style_Normal style_Normal " style="margin-left:71.2px; text-indent:-.635cm; line-height:1.5; margin-left:71.2px; text-indent:-.635cm; line-height:1.5; ">
				<span style="padding-right:20px;">10.</span>Написать программу, которая определяет, сколько символов в вашем адресе.</p>
			<p class="style_Normal style_Normal " style="margin-left:71.2px; text-indent:-.635cm; line-height:1.5; margin-left:71.2px; text-indent:-.635cm; line-height:1.5; ">
				<span style="padding-right:20px;">11.</span>Написать программу, которая определяет, сколько символов в названии журнала.</p>
			<p class="style_Normal style_Normal " style="margin-left:71.2px; text-indent:-.635cm; line-height:1.5; margin-left:71.2px; text-indent:-.635cm; line-height:1.5; ">
				<span style="padding-right:20px;">12.</span>Написать программу, которая определяет, сколько символов в названии марки автомобиля.</p>
			<div>
				<p class="style_Normal style_Normal "> </p>
			</div>
			<div>
				<p class="style_Normal style_Normal " style="margin-left:24px; "><span style="font-weight:bold; font-family:Times New Roman; font-size:12pt; font-weight:bold; ">Порядок выполения работы:</span></p>
			</div>
			<p class="style_Normal style_Normal " style="margin-left:48px; text-indent:-.635cm; margin-top:0px; margin-bottom:13.333px; line-height:1.15; margin-left:48px; text-indent:-.635cm; margin-top:0px; margin-bottom:13.333px; line-height:1.15; ">
				<span style="padding-right:20px;">1.</span><span style="font-family:Times New Roman; font-size:12pt; ">Изучить теоретические сведения<span>
					</span></span><span style="font-family:Times New Roman; font-size:12pt; ">по данной лабораторной работе.</span><span style="font-family:Times New Roman; font-size:12pt; "></span></p>
			<p class="style_Normal style_Normal " style="margin-left:48px; text-indent:-.635cm; margin-top:0px; margin-bottom:13.333px; line-height:1.15; margin-left:48px; text-indent:-.635cm; margin-top:0px; margin-bottom:13.333px; line-height:1.15; ">
				<span style="padding-right:20px;">2.</span>Составить программу для заданного варианта<span style="font-family:Times New Roman; font-size:12pt; ">.</span><span style="font-family:Times New Roman; font-size:12pt; "></span></p>
			<p class="style_Normal style_Normal " style="margin-left:48px; text-indent:-.635cm; margin-top:0px; margin-bottom:13.333px; line-height:1.15; margin-left:48px; text-indent:-.635cm; margin-top:0px; margin-bottom:13.333px; line-height:1.15; ">
				<span style="padding-right:20px;">3.</span>Записать программу на языке<span>
				</span>Visual C<span style="font-weight:bold; font-family:Times New Roman; font-size:12pt; font-weight:bold; ">++</span>.<span style="font-family:Times New Roman; font-size:12pt; "></span></p>
			<p class="style_Normal style_Normal " style="margin-left:48px; text-indent:-.635cm; margin-top:0px; margin-bottom:13.333px; line-height:1.15; margin-left:48px; text-indent:-.635cm; margin-top:0px; margin-bottom:13.333px; line-height:1.15; ">
				<span style="padding-right:20px;">4.</span>Отладить программу.<span style="font-family:Times New Roman; font-size:12pt; "></span></p>
			<p class="style_Normal style_Normal " style="margin-left:48px; text-indent:-.635cm; margin-top:0px; margin-bottom:13.333px; line-height:1.15; margin-left:48px; text-indent:-.635cm; margin-top:0px; margin-bottom:13.333px; line-height:1.15; ">
				<span style="padding-right:20px;">5.</span>Продемонстрировать работу программы на ПК для заданного варианта.</p>
			<div>
				<p class="style_Normal style_Normal "><span style="font-weight:bold; font-family:Times New Roman; font-size:12pt; font-weight:bold; ">Содержание отчета:</span></p>
			</div>
			<p class="style_Normal style_Normal " style="margin-left:48px; text-indent:-.635cm; margin-top:0px; margin-bottom:13.333px; line-height:1.15; margin-left:48px; text-indent:-.635cm; margin-top:0px; margin-bottom:13.333px; line-height:1.15; ">
				<span style="padding-right:20px;">1.</span><span style="font-family:Times New Roman; font-size:12pt; ">Тем</span>а<span style="font-family:Times New Roman; font-size:12pt; "><span><span></span>
					</span>и цель работы.</span></p>
			<p class="style_Normal style_Normal " style="margin-left:48px; text-indent:-.635cm; margin-top:0px; margin-bottom:13.333px; line-height:1.15; margin-left:48px; text-indent:-.635cm; margin-top:0px; margin-bottom:13.333px; line-height:1.15; ">
				<span style="padding-right:20px;">2.</span><span style="font-family:Times New Roman; font-size:12pt; ">Вариант задания.</span><span style="font-family:Times New Roman; font-size:12pt; "></span></p>
			<p class="style_Normal style_Normal " style="margin-left:48px; text-indent:-.635cm; margin-top:0px; margin-bottom:13.333px; line-height:1.15; margin-left:48px; text-indent:-.635cm; margin-top:0px; margin-bottom:13.333px; line-height:1.15; ">
				<span style="padding-right:20px;">3.</span><span style="font-family:Times New Roman; font-size:12pt; ">Листинг</span><span style="font-family:Times New Roman; font-size:12pt; "><span><span></span>
					</span>и результат программы.</span></p>
			<p class="style_Normal style_Normal " style="margin-left:48px; text-indent:-.635cm; margin-top:0px; margin-bottom:13.333px; line-height:1.15; margin-left:48px; text-indent:-.635cm; margin-top:0px; margin-bottom:13.333px; line-height:1.15; ">
				<span style="padding-right:20px;">4.</span><span style="font-family:Times New Roman; font-size:12pt; ">К</span><span style="font-family:Times New Roman; font-size:12pt; ">онтрольные вопросы.</span></p>
			<div>
				<p class="style_Normal style_Normal " style="text-align:center; "><span style="font-weight:bold; font-family:Times New Roman; font-size:12pt; font-weight:bold; ">Контрольные вопросы:</span></p>
			</div>
			<div>
				<p class="style_Normal style_Normal " style="text-align:center; "><span style="font-weight:bold; font-family:Times New Roman; font-size:12pt; font-weight:bold; "></span> </p>
			</div>
			<p class="style_Normal style_Normal " style="margin-left:48px; text-indent:-.635cm; margin-top:0px; margin-bottom:13.333px; line-height:1.15; margin-left:48px; text-indent:-.635cm; margin-top:0px; margin-bottom:13.333px; line-height:1.15; ">
				<span style="font-weight:bold; color:#000000; padding-right:20px;">1.</span>Что такое массив?<span><span></span>
				</span>Что необходимо указать для объявления массива?</p>
			<p class="style_Normal style_Normal " style="margin-left:48px; text-indent:-.635cm; margin-top:0px; margin-bottom:13.333px; line-height:1.15; margin-left:48px; text-indent:-.635cm; margin-top:0px; margin-bottom:13.333px; line-height:1.15; ">
				<span style="font-weight:bold; color:#000000; padding-right:20px;">2.</span>Как нумеруются элементы массива?<span><span></span>
				</span>Что такое размерность?</p>
			<p class="style_Normal style_Normal " style="margin-left:48px; text-indent:-.635cm; margin-top:0px; margin-bottom:13.333px; line-height:1.15; margin-left:48px; text-indent:-.635cm; margin-top:0px; margin-bottom:13.333px; line-height:1.15; ">
				<span style="font-weight:bold; color:#000000; padding-right:20px;">3.</span>Можно ли в один массив поместить значения разных типов?</p>
			<div>
				<p class="style_Normal style_Normal " style="text-align:center; "><span style="font-weight:bold; font-family:Times New Roman; font-size:12pt; font-weight:bold; ">Литература:</span></p>
			</div>
			<p class="style_Normal style_Normal style_179 style_179 " style="margin-left:48px; text-indent:-.635cm; margin-top:0px; margin-bottom:0px; margin-left:48px; text-indent:-.635cm; margin-top:0px; margin-bottom:0px; ">
				<span style="font-size:12pt; font-family:Times New Roman; padding-right:20px;">1.</span><span style="font-size:12pt; font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-size:11pt; font-family:Times New Roman; font-size:12pt; ">Хортон А.<span>
					</span></span><span style="font-size:12pt; font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-size:11pt; font-family:Times New Roman; font-size:12pt; ">Visual</span><span style="font-size:12pt; font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-size:11pt; font-family:Times New Roman; font-size:12pt; "><span><span></span>
					</span>2010: полный курс.:Пер. с анг.-М.:ООО «И.Д.Вильямс», 2011г , 1216 с.: ил.<span>
					</span></span></p>
			<p class="style_Normal style_Normal style_179 style_179 " style="margin-left:48px; text-indent:-.635cm; margin-top:0px; margin-bottom:0px; margin-left:48px; text-indent:-.635cm; margin-top:0px; margin-bottom:0px; ">
				<span style="font-size:12pt; font-family:Times New Roman; padding-right:20px;">2.</span><span style="font-size:12pt; font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-size:11pt; font-family:Times New Roman; font-size:12pt; ">Пахомов Б.И. С/</span><span style="font-size:12pt; font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-size:11pt; font-family:Times New Roman; font-size:12pt; ">C</span><span style="font-size:12pt; font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-size:11pt; font-family:Times New Roman; font-size:12pt; ">++ и<span>
					</span></span><span style="font-size:12pt; font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-size:11pt; font-family:Times New Roman; font-size:12pt; ">MS</span><span style="font-size:12pt; font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-size:11pt; font-family:Times New Roman; font-size:12pt; "><span><span></span>
					</span></span><span style="font-size:12pt; font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-size:11pt; font-family:Times New Roman; font-size:12pt; ">Visual</span><span style="font-size:12pt; font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-size:11pt; font-family:Times New Roman; font-size:12pt; "><span><span></span>
					</span></span><span style="font-size:12pt; font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-size:11pt; font-family:Times New Roman; font-size:12pt; ">C</span><span style="font-size:12pt; font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-size:11pt; font-family:Times New Roman; font-size:12pt; ">++ 2010 для начинающих. – СПб.:БХВ-Петербург, 2011.-736 с.:ил.<span>
					</span></span></p>
			<p class="style_Normal style_Normal style_179 style_179 " style="margin-left:48px; text-indent:-.635cm; margin-top:0px; margin-bottom:0px; margin-left:48px; text-indent:-.635cm; margin-top:0px; margin-bottom:0px; ">
				<span style="font-size:12pt; font-family:Times New Roman; padding-right:20px;">3.</span><span style="font-size:12pt; font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-size:11pt; font-family:Times New Roman; font-size:12pt; ">Зиборов В. В. MS Visual C++ 2010 в среде.NET. Библиотека программиста. — СПб.: Питер,<span>
					</span></span></p>
			<div>
				<p class="style_Normal style_Normal style_179 style_179 " style="margin-top:0px; margin-bottom:0px; margin-left:48px; "><span style="font-size:12pt; font-family:Times New Roman; font-family:Times New Roman; font-size:12pt; font-family:Calibri; font-size:11pt; font-family:Times New Roman; font-size:12pt; ">2012. — 320 с.: ил.</span></p>
			</div></div></body>
</html>
 